Babel==2.9.1
python-dateutil==2.8.2
SQLAlchemy==1.4.35
SQLAlchemy_Utils==0.38.2
Psycopg2-binary==2.9.3
Flask==1.1.4
Flask-Migrate==2.6.0
Flask-Moment==0.11.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
Jinja2==3.0.0
Werkzeug~=2.0.0